Tercero/SD/Practica 4/Practica 4 Cliente/Connected Services/GestionAlmacen/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GestionAlmacen/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" />
  <xs:element name="DatosAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatosAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" minOccurs="0" name="DatosAlmacenResult" nillable="true" type="q1:TDatosAlmacen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NProductosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pNomFichero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearAlmacenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNomFichero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbrirAlmacenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarAlmacenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CerrarAlmacenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenAbierto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlmacenAbiertoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlmacenAbiertoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="pCodProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="pPosProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" minOccurs="0" name="ObtenerProductoResult" nillable="true" type="q2:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnadirProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" minOccurs="0" name="pProdNuevo" nillable="true" type="q3:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnadirProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnadirProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" minOccurs="0" name="pProducto" nillable="true" type="q4:TProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="pCodProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>