3 Tercero/SD/Practica 4 MOD/Practica 4 Cliente/Connected Services/GestionAlmacen/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Practica_4_Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TDatosAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fichero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TDatosAlmacen" nillable="true" type="tns:TDatosAlmacen" />
  <xs:complexType name="TProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caducidad" nillable="true" type="tns:TFecha" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TProducto" nillable="true" type="tns:TProducto" />
  <xs:complexType name="TFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anyo" type="xs:int" />
      <xs:element minOccurs="0" name="Dia" type="xs:int" />
      <xs:element minOccurs="0" name="Mes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TFecha" nillable="true" type="tns:TFecha" />
</xs:schema>